


# compilation files
cbmc/
src/config.inc

# regression/test files
*.out
tests.log

# files stored by editors
*~

# binaries
src/2ls/2ls

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CBMC
cbmc

# Regression tests
*.log

# IntelliJ CLion
.idea/
CMakeLists.txt

# Netbeans
*.inc
*.bak
nbproject

# QtCreator
2ls-nonterm.config
2ls-nonterm.creator*
2ls-nonterm.files
2ls-nonterm.includes
