CBMC = ~/cbmc

# Variables you may want to override
#CXXFLAGS = -Wall -O0 -g -Werror -Wno-long-long -Wno-sign-compare -Wno-parentheses -Wno-strict-aliasing -pedantic

SUMMARIZERFLAGS = -DREUSE_INVARIANTS -DASSERTION_HOISTING

CBMC_PATCH =
