CBMC = ~/cbmc

# Variables you may want to override
#CXXFLAGS = -Wall -O0 -g -Werror -Wno-long-long -Wno-sign-compare -Wno-parentheses -Wno-strict-aliasing -pedantic

SUMMARIZERFLAGS =   -DNO_ARITH_REFINEMENT 
#SUMMARIZERFLAGS= -DDEBUG_FORMULA -DDISPLAY_FORMULA -DDEBUG_OUTPUT -DNON_INCREMENTAL -DSLICING -DSHOW_COUNTEREXAMPLE -DASSERTION_HOISTING -DSHOW_CALLING_CONTEXTS -DKIND_ASSUMPTIONS
#

# CUDD = ~/progr/deltacheck/trunk/cudd-2.5.0

CBMC_PATCH = ../patches/lazy-array.patch
